%h1 Edit item

= simple_form_for @item,  html: { multipart: true } do |f| 
	
	= render partial: "form", locals: { f: f}
	%br 
<<<<<<< HEAD
	= f.submit "Edit item",  class: 'btn btn-success'
=======
	= f.submit "Create item",  class: 'btn btn-success'
>>>>>>> 9a6e046fa20413fc904d033901be4c0ea820b9cd
	


 
